---
import '~/styles/global.css';

import { textDirection } from "~/config.ts";

import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';

// Comment the line below to disable View Transitions
import { ViewTransitions } from 'astro:transitions';

import config from "../../astro.config.ts";
import type { PageMetaData } from '~/types';

export interface Props {
  metadata: PageMetaData;
}

const { metadata } = Astro.props;
---

<script>
import { theme as defaultTheme, type Theme } from "~/config.ts";
import { initialize } from "~/utils/frontend-init.ts";

initialize();

function applyTheme(theme: Theme) {
  if (theme === 'dark') {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }
}

const initTheme = function () {
  if (
    localStorage.theme === 'dark' ||
    (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    applyTheme('dark');
  } else {
    applyTheme('light');
  }
};
initTheme();
</script>

<!doctype html>
<html lang={config.i18n?.defaultLocale ?? "en"} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <Metadata {...metadata} />
    <CustomStyles />
    <ApplyColorMode />

    <!-- Comment the line below to disable View Transitions -->
    <ViewTransitions fallback="swap" />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
